<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Descargar Instructivos</title>
    <link rel="stylesheet" href="static/css/descargar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="menu-up">
    <h1>Descarga de Instructivos Oficiales</h1>
    <p>Sistema de apoyo para instructores</p>
  </div>
  <main>
    <h1 class="bienvenido">Bienvenido al sistema de descarga</h1>
    <p>A continuación, encontrará los enlaces para descargar los documentos oficiales que le guiarán en la gestión académica y disciplinaria.</p>
    <ul>
      <li>
        <p>Medidas Formativas Académicas</p>
        <a href="/static/docs/MEDIDAS FORMATIVAS ACADEMICAS.docx">Descargar</a>
      </li>
      <li>
        <p>Protocolos Disciplinarios</p>
        <a href="/static/docs/PROTOCOLO DISCIPLINARIO SENA 2025 rev..docx">Descargar</a>
      </li>
    </ul>
  </main>
  <footer>
    <p>Sistema desarrollado para facilitar la gestión administrativa de los instructores SENA.</p>
    <p>Versión 1.0 - Uso institucional exclusivo.</p>
  </footer>
</body>
</html>